@import "tailwindcss";


@theme {
  --color-ctr: #455CE9;
  --color-text: #1C1D20;
  --color-ctr-dark: #334BD3;
  --color-gray: #999D9E;
  --color-border: #D2D2D2;
}


@keyframes rotate {
  0% {
    transform: perspective(800px) rotateZ(-15deg);
  }

  50% {
    transform: perspective(800px) rotateZ(0deg);
  }

  100% {
    transform: perspective(800px) rotateZ(15deg);
  }
}

.animate-rotate {
  animation: rotate 2s ease-in-out infinite alternate;
  transform-style: preserve-3d;
}

html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

@keyframes scroll-down {
  from { transform: translateY(0%); }
  to   { transform: translateY(-50%); }
}
@keyframes scroll-up {
  from { transform: translateY(-50%); }
  to   { transform: translateY(0%); }
}

.animate-scroll-down { animation: scroll-down linear infinite; }
.animate-scroll-up   { animation: scroll-up linear infinite; }
